[submodule "AI-Based-Detector"]
	path = AI-Based-Detector
	url = https://github.com/resilmesh2/AI-Based-Detector.git
[submodule "AI-Correlation"]
	path = AI-Correlation
	url = https://github.com/resilmesh2/AI-Correlation.git
[submodule "Threat-Hunting-And-Forensics"]
	path = Threat-Hunting-And-Forensics
	url = https://github.com/resilmesh2/Threat-Hunting-And-Forensics.git
[submodule "RobustCTI"]
	path = RobustCTI
	url = https://github.com/resilmesh2/RobustCTI.git
[submodule "PP-CTI"]
	path = PP-CTI
	url = https://github.com/resilmesh2/PP-CTI.git
[submodule "wazuh-docker"]
	path = wazuh-docker
	url = https://github.com/resilmesh2/wazuh-docker.git
